body,
html {
    background-color: rgb(12, 12, 12);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: auto;
    width: 600px;
    height: 90%;
    /* border: 1px solid red */
}
#messages-list {
    /* border: 1px solid blue; */
    width: 100%;
    height: 80%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0.5rem;
}
#message-box {
    /* border: 1px solid green; */
    width: 100%;
    height: 20%;
    position: relative;
}
#message {
    background-color: rgb(38, 48, 36);
    color: rgb(216, 214, 214);
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}
#message:focus {
    border: #c0a166 2px solid;
}
#send-button {
    position: absolute;
    bottom: 3px;
    right: 3px;
    background-color: rgba(255, 255, 255, 0.185);
    color: rgb(0, 0, 0);
    font-size: 18px;
    width: 30px;
    height: 30px;
    padding-top: 6px;
    padding-left: 8px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: background-color 0.5s ease-in-out;
}
#send-button:hover {
    background-color: #c0a166;
}
.message-bubble-container {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.message-bubble {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 0.4rem;
    color: white;
    width: fit-content;
    max-width: 90%;
    word-wrap: break-word;
    background-color: #2a2558;
}
.my-message-bubble {
    background-color: #272727;
}
.my-message-bubble-container {
    flex-direction: row-reverse;
}
.label {
    color: rgb(255, 230, 0);
    font-size: larger;
    font-weight: bold;
}
.response-container {
    /* border: white 0.5px solid; */
    height: 14rem;
    resize: vertical;
    overflow-y: auto;
    background-color: #1f1f1f;
    text-align: left;
}
.response-container-toolbar {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1rem;
    color: black;
    text-align: left;
}
.response-toolbar-text,
.response {
    padding-left: 0.5rem;
    color: black;
    font-weight: bolder;
}
.response {
    word-wrap: break-word;
    color: #15ff00;
    font-weight: lighter;
}
.spinner {
    display: inline-block;
    border: 0.3rem solid white;
    border-top: 0.3rem solid #2000d4;
    border-radius: 50%;
    width: 0.5rem;
    height: 0.5rem;
    animation: spin 2s linear infinite;
}
header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    /* background-color: #002280; */
    width: 100%;
    height: 3rem;
}
.nav-button-class,
.active-nav-button {
    color: white;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    transition: color 0.4s ease-in-out;
}

.active-nav-button {
    color: #15ff00;
    font-weight: bolder;
}
.nav-button-class:hover {
    color: #15ff00;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Adjust container width for smaller screens */
    }
}
